body {
    background: -webkit-radial-gradient(circle, #b4dbeb 0, #172b5e 100%);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yaldevi;
}

.card {
    background-color: white;
    padding: 40px;
    width: 400px;
    border-radius: 30px;
    margin: 30px 0;
}

#avatar{
    width: 400px;
    height: 350px;
    border-radius: 10%;
    margin: 20px auto;
    overflow: hidden;
}

h1, h3, p, h4, h2 {
    text-align: center;
}

ul{
    cursor: default;
    text-align: center;
    list-style: none; 
    padding: 0;
}

ul li {
    display: inline-block;
    padding: 10px;
}

ul li a {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 1px #1b8bb8;
    text-indent: 45px;
    position: relative;
}

ul li a::before {
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 25px;
    text-indent: 0;
    color: #000000;
}
